<section class="hero is-fullheight">
  <div class="hero-body">
    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

    <div class="container has-text-centered is-max-tablet">
      <div class="box">
        <h1 class="title">Sign in</h1>

        <%= form_with url: session_path do |form| %>
          <div class="field">
            <div class="control">
              <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "input" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input" %>
            </div>
          </div>

          <%= form.submit "Sign in", class: "button is-info" %>
        <% end %>
        <br>

        <%= link_to "Forgot password?", new_password_path %>
      </div>
    </div>
  </div>
</section>
