<%= form_with model: @post do |form| %>
  <div class="field">
    <%= form.label :title, class: "label" %>

    <div class="control">
      <%= form.text_field :title, class: "input", placeholder: "Title" %>
    </div>
  </div>

  <div class="field">
    <%= form.rich_textarea :content %>
  </div>

  <%= form.submit class: "button" %>
<% end %>