<div class="container is-max-tablet">
  <section class="section">
    <h1 class="title is-size-1">Posts</h1>

    <% if current_user %>
      <%= link_to "New Post", new_post_path, class: "button" %>
    <% end %>
  </section>

  <section class="section">
    <div class="posts">
      <% @posts.each do |post| %>
        <%= link_to post_path(post), class: "box is-clickable is-shadowless" do %>
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <%= image_tag(url_for(post.content.embeds.first)) %>
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                    <h2 class="title is-size-5 m-0"><%= post.title %></h2>
                    <%= post.content.to_plain_text.truncate(200) %>
                </div>
              </div>
            </article>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
